<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid rounded" src="{{ user.image }}" alt="{{ user.name }}'s profile picture" 
           style="width: 100%; max-width: 250px; transition: opacity 0.5s;" onload="this.style.opacity=1">
    </div>
    <div class="col-md-8">
      <div class="mb-3">
        <strong>Name:</strong> {{ user.name }}
      </div>
      <div class="mb-3">
        <strong>Email:</strong> {{ user.email }}
      </div>
      <div class="mt-4">
        <a class="btn btn-outline-secondary me-2" href="/users/{{user.id}}/edit">Edit</a>
        <a class="btn btn-outline-info" href="javascript:history.back()">Back</a>
      </div>
    </div>
  </div>
</div>